.card {
  color: var(--clr-neutral-100);
  background-image: url(https://zcemycl.github.io/resources/top.jpg);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4) 10%, black);
}

.card-title {
  position: relative;
  width: max-content;
  /* outline: 1px solid red; */
}

.card-title::after {
  content: '';
  position: absolute;
  height: 3px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: var(--clr-accent-400);
  transform-origin: left;
  transition: transform 500ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
  transform: scaleX(1);
}

.card-body {
  color: rgb(255 255 255 / 0.8);
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
}

.button:hover,
.button:focus {
  background-color: var(--clr-neutral-100);
}
