.button-two {
  --button-color: #232;
}

.button-two .line {
  /* transition: stroke-dashoffset 1s; */
  animation: to-open-icon 1s forwards;
}

.button-two[aria-expanded='true'] .line {
  /* stroke-dashoffset: 79.9; */
  animation: to-close-icon 1s forwards;
}

.button-two .line.top {
  /* stroke-dashoffset: 79.9; */
  /* animation: to-close-icon 1s forwards; */
  --rotation: -45deg;
  transform-origin: 65px 45px;
}

.button-two .line.bottom {
  /* stroke-dashoffset: 79.9; */
  /* animation: to-close-icon 1s forwards; */
  --rotation: 45deg;
  transform-origin: 60px 55px;
}

@keyframes to-close-icon {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 79.9;
  }
  60% {
    stroke-dashoffset: 79.9;
    rotate: var(--rotation);
  }
  100% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
}

@keyframes to-open-icon {
  0% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
  40% {
    stroke-dashoffset: 79.9;
    rotate: var(--rotation);
  }
  60% {
    stroke-dashoffset: 79.9;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
