:root {
  --default-body-bg: rgb(99, 153, 165);
  --default-card-bg: rgb(200, 200, 200);
  --default-text: rgba(51, 64, 67, 0.8);
  --default-heading: rgb(28, 69, 80);
}

body {
  min-height: 95vh;
  padding: 0 5rem;
  margin: 5rem 1rem 5rem;
  font-size: 1rem;
  font-family: system-ui, sans-serif;
  background: var(--default-body-bg);
  color: var(--default-text);
}

h1,
h2,
h3 {
  color: var(--default-heading);
  line-height: 1.1;
}

.card-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5em;
  row-gap: 1.5em;
}

.card {
  background-color: var(--default-card-bg);
  position: relative;
  border-radius: 0.3em;
  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-color: var(--default-heading);
  border: 1px solid black;
}

.card > h3 {
  padding: 0 0.75em;
  margin: 1em 0 0 0;
}

.card > p {
  padding: 0 0.75em;
  margin: 0.5em 0 1.7em 0;
}

.visually-hidden {
  display: none;
}

.color-picker {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
}

.color-picker > fieldset {
  border: 0;
  display: flex;
  place-items: center;
  width: fit-content;
  gap: 2rem;
  background-color: #fff;
  transform: translate(-50%, 0%);
  border-radius: 0 0 1rem 1rem;
  padding: 0.7rem 1.5rem 1rem;
}

.color-picker input[type='radio'] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}

.color-picker input[type='radio']:checked {
  background-color: var(--radio-color);
}

input[type='radio']#light {
  --radio-color: rgb(99, 153, 165);
}

input[type='radio']#dark {
  --radio-color: black;
}

input[type='radio']#green {
  --radio-color: rgb(29, 201, 152);
}

.light {
  --default-body-bg: rgb(99, 153, 165);
  --default-card-bg: rgb(200, 200, 200);
  --default-text: rgba(51, 64, 67, 0.8);
  --default-heading: rgb(28, 69, 80);
}

:root:has(#light:checked) {
  --default-body-bg: rgb(99, 153, 165);
  --default-card-bg: rgb(200, 200, 200);
  --default-text: rgba(51, 64, 67, 0.8);
  --default-heading: rgb(28, 69, 80);
}

.dark {
  --default-body-bg: black;
  --default-card-bg: rgb(25, 83, 79);
  --default-text: rgb(19, 139, 105);
  --default-heading: rgb(47, 112, 74);
}

:root:has(#dark:checked) {
  --default-body-bg: black;
  --default-card-bg: rgb(25, 83, 79);
  --default-text: rgb(19, 139, 105);
  --default-heading: rgb(47, 112, 74);
}

.green {
  --default-body-bg: rgb(29, 201, 152);
  --default-card-bg: rgb(200, 200, 200);
  --default-text: rgba(51, 64, 67, 0.8);
  --default-heading: rgb(80, 58, 28);
}

:root:has(#green:checked) {
  --default-body-bg: rgb(29, 201, 152);
  --default-card-bg: rgb(200, 200, 200);
  --default-text: rgba(51, 64, 67, 0.8);
  --default-heading: rgb(80, 58, 28);
}

@media (max-width: 800px) {
  .card-group {
    grid-template-columns: 1fr;
  }

  body {
    min-height: 95vh;
    padding: 0 1rem;
    font-size: 0.7rem;
  }
}
