:root {
  --sm-screen-width-percentage: 100%;
  --lg-screen-width-percentage: 75%;
}

body {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  background: black;
}

#canvas1 {
  border: 5px solid white;
  width: 75%;
  aspect-ratio: 16/9;
  position: relative;
}

p {
  color: white;
  font-size: 2rem;
}

input#slider {
  width: 100%;
}

div#container {
  width: 80vw;
}

@media (max-width: 800px) {
  #canvas1 {
    width: 100%;
  }
}
